/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
  }

header {
  background: navy;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
    max-width: 768px;
    font-weight: 200;
  }

  
input {
    border: 1px solid white;
    background-color: lightgray;

  }

/* ================================= 
  Base Layout Styles
==================================== */


/* ---- Navigation ---- */

/* ---- tbd ---- */

.intro {
  text-align: center;
}

/* ---- Flex Containers ---- */

/* .contact-info {
  padding: 50px 50px 35px 50px;
} */

.contact-info,
.flex-pair,
.newsletter {
  display: flex;
  flex-direction: column;
  border: none;
  align-items: flex-start;
  width: 100%;
  /* text-align: left; */
}

.contact-info: {
  padding: 0px;
}

.contact-info label {
  margin-bottom: 10px;
}
​
.contact-info input {
  height: 50px;
  margin-bottom: 15px;
}

/* ---- Attribute Selectors ---- */

form [class="flex-pair"] {
  padding: 20px 24px;
  background: green;

}

input::placeholder {
  text-align: right;
  /* margin-right: 2px; */
}

label,
input {
  width: 100%;
}

/* ---- Page Elements ---- */

#telephone,
#zip {
  max-width: 50%;
}

  /* ================================= 
  Media Queries
==================================== */