/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
  }

header {
  background: #00044e;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 8px 0px;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
    max-width: 768px;
    font-weight: 200;
    color: #8b8b8b;
  }

input:not([type="radio"]):not([type="checkbox"]),
select,
textarea,
button {
    border: 1px solid #e9e7d8;
    border-radius: 5px;
    background-color: lightgray;
    width: 100%;
    height: 4em;
  }

  textarea {
    height: 9em;
    margin-top: 20px;
  }

  button {
    background-color: turquoise;
    color: white;
    height: 3em;
    font-size: 1.3em;
    margin-top: 10px;
  }

  legend {
    color: #00044e;
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 5px;
  }

  label {
    margin-top: 0px;
    margin-bottom: 15px;
    line-height: 3em;
  }

  footer {
    text-align: center;
    font-style: italic;
    font-size: .9em;
  }

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- tbd ---- */

.name {
  margin-top: 12px;
  margin-bottom: 12px;
}


.intro {
  text-align: center;
}

.introdiv {
  margin-bottom: 40px;
}

.thick {
  border: 3px solid #00044e;
  width: 92%;
  margin-bottom: 2px;
}

.thin {
  border: 1.2px solid #00044e;
  width: 92%;
  margin-top: 1px;
}

.main-contact {
  background-color: #e6fcf8;
  margin-bottom: 10px;
  padding-bottom: 15px;
}

.contact-info h3 {
  margin-top: 0px;
}

.newsh3 {
  margin-top: 0px;
}

.secondary-news {
  background-color: #d9f1fb;
  padding-bottom: 25px;
  padding-top: 35px;
}

/* ---- Flex Containers ---- */

.contact-info,
.flex-pair,
.newsletter {
  display: flex;
  flex-direction: column;
  border: none;
  align-items: flex-start;
  width: 100%;
  /* text-align: left; */
}

.contact-info label {
  margin-bottom: 10px;
}

.newsletter_content,
.newsletter_format {
  line-height: 2.5em;
  padding-bottom: 15px;
}

.newsletter {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

/* ---- Attribute Selectors ---- */

form [class="flex-pair"] {
  padding: 10px 0px 5px 2px;
  /* background: green; */

}

/* input [type="radio"],
input [type="checkbox"] {
  display: inline-block;
} */

input::placeholder {
  text-align: right;
  padding-right: 10px;
  font-style: italic;
}

/* .flex-pair {
  content: attr(id)
  padding-top: 40px;
} */

/* ---- Page Elements ---- */

/* #telephone, */
#zip {
  max-width: 50%;
}

/* ---- Psuedo Classes ---- */

input,
select,
textarea {
  transition: background-color 4s, border 2s ease;
}

input[type]:hover,
select:hover,
textarea:hover {
  border: 2px solid purple;
  background-color: #9fe2bf;
  /* transition: background-color 2.5s; */
}

input:not([type="radio"]):not([type="checkbox"]):focus,
textarea:focus {
    background-color: lightskyblue;
    border: 2px solid #00044e;
    color: purple;
  } 

input[type="checkbox"]:checked + label {
  font-weight: bold;
}

input[type="radio"]:checked + label {
  font-weight: bold;
}

/* input:focus-within,
select:focus,
textarea:focus {
  border-color: purple;
} */

  /* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {
  .contact-info .flex-pair {
    flex-direction: row;
    align-items: center;
  }

  .contact-info input,
  .contact-info select {
    flex-grow: 1;
    flex-basis: 75%;
  }

  .contact-info label {
    flex-basis: 25%;
    margin: auto 0;
  }

 .introdiv {
   margin-top: 35px;
 }
 
  .intro {
    margin-bottom: 1px;
    margin-top: 8px;
  }

  #zip {
    max-width: 25%;
  }

  .button {
    padding-top: 0px;
    margin-top: 10px;
  }

}